.main {
    height: 100vh;
}

.sidebar {
    background: #378BA4;
    color: #fff
}

.sidebar a {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 20px 10px;
}

.sidebar a:hover {
    background: linear-gradient( to right, #012E4A, #29709c);
}

.active {
    background: linear-gradient( to right, #012E4A, #29709c);
    border-left: solid 7px rgb(121, 7, 7);
}

.card-data {
    border: solid 1px;
    padding: 20px 50px;
    color: #fff;
}

.card-data.book {
    background: linear-gradient(to right, #012E4A, #036280);
    /* background-color: #012E4A; */
}

.card-data.category {
    background: linear-gradient(to right, #036280, #378BA4);
    background-color: #036280;
}

.card-data.user {
    background: linear-gradient(to right, #378BA4, #012E4A);
    /* background-color: #378BA4; */
}

.card-data i {
    font-size: 80px;
}

.card-desc {
    font-size: 30px;
}

.card-count {
    font-size: 30px;
}